@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#wrapper{
    top: 50%;
    left: 50%;
    font-family: 'Ownglyph_meetme-Rg';
}

h1{
    text-align: center;
}

.table-hover{
    font-size: 20px;
}