@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Orbit-Regular';
}

#wrapper{
    top: 50%;
    left: 50%;
    font-family: 'Orbit-Regular';
    width: 100%;
}

h1{
    text-align: center;
    
}
.btn-warning{ 
    width: auto; 
    
    margin-top: 10px;
    margin-left: 20px;
}
#home{
    position: relative;
}
.col > .btn{
    font-family: 'Ownglyph_meetme-Rg';
    width: auto;
    height: 80px;
    margin-top: 100px;
    font-size: 20px;
    position: absolute;
   
}
    